* {
  box-sizing: border-box;
  margin: 0;
  font-size: 20px;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  height: 100px;
  width: 100%;
  background-color: rgb(60 58 57);
  position: relative;
}

.lo {
  text-decoration: none;
  width: 190px;
  height: 50px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 30px;
  color: white;
  text-align: center;
  margin-bottom: 20px;
  position: absolute;
  left: 64px;
  top: 55px;
}

.dropdown-menu {
  width: 100vw;
  display: flex;
  flex-direction: column;
  background: #3c3a39;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  padding: 20px;
  padding-bottom: 40px;
  padding-right: 35px;
  z-index: 3;
}

.ax {
  display: block;
  font-family: Inter, sans-serif;
  padding: 20px 10px 15px;
  font-weight: 600;
  font-size: 27px;
  line-height: 22px;
  color: #fff5e1;
  text-decoration: none;
  border-bottom: 1px solid #6f6c6b;
}

.xmark {
  margin-left: 300px;
  margin-top: 20px;
  cursor: pointer;
  color: #67798e;
}

.hide {
  display: none;
}

.fa-bars {
  display: block;
  cursor: pointer;
}

.menu {
  position: absolute;
  right: 200px;
  color: white;
  margin-top: 10px;
  top: 50px;
}

.half {
  height: 10vh;
  background-color: white;
  position: absolute;
  left: 0;
  top: 90%;
  width: 100%;
}

.imge-half {
  margin-top: 7vh;
  margin-left: 40%;
  width: 100px;
  height: 10px;
  background-color: black;
  border-radius: 15px;
}

.section1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  background: #1c1a19;
  padding: 120px 64px;
  position: relative;
}

.head {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
  color: rgb(255 107 0);
}

.title {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff5e1;
}

@keyframes left {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes right {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.para p {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 4rem;
  color: white;
  margin-bottom: 8rem;
}

.icons {
  display: flex;
  gap: 13px;
  margin-left: 10px;
}

.icons li {
  list-style: none;
}

.fas {
  color: white;
  font-size: 30px;
}

.nxt {
  position: absolute;
  right: 0;
  top: 45%;
}

.work {
  background-color: #fff;
  padding: 120px 55px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.work-title1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 30px;
}

.work-head {
  width: 327px;
  height: 83px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #1c1a19;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  margin-bottom: 50px;
}

.work1-img {
  box-shadow: 0 1.5rem 4rem rgb(0 0 0 / 15%);
  transition: transform 0.3s;
}

.work1-img:hover {
  transform: translateY(-1.5rem) scale(1.03);
}

.work-head2 {
  width: 327px;
  height: 36px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #091e42;
}

.work1-para {
  width: 327px;
  height: 147px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
}

.work1-list {
  display: flex;
  gap: 20px;
  margin-bottom: 25px;
}

.p {
  margin-left: -60px;
}

.work1-list li {
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #091e42;
  padding: 8px;
  border: 1px solid #8993a4;
}

.btn {
  text-decoration: none;
  color: white;
  padding: 10px 8px;
  background-color: rgb(255 107 0);
  width: 124px;
  text-align: center;
}

.one {
  transition: all 0.8s;
}

.one:hover {
  color: rgb(245 88 0);
  background: rgb(255 245 225);
  border: 1px solid rgb(245 88 0);
}

.one:active {
  background-color: rgb(224 83 4);
  color: rgb(244 241 240);
}

.one:disabled {
  background: #f4f1f0;
  color: #5b5957;
}

.one:enabled {
  color: white;
  background-color: rgb(255 107 0);
}

.work-title2 {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 10px;
  background: linear-gradient(180.45deg, rgb(38 38 38 / 0%) 0.75%, rgb(38 38 38 / 90%) 61.94%), url("img/img2.png");
  padding-top: 75px;
  padding-bottom: 0;
}

.work-head22 {
  width: 295px;
  height: 81px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  padding-left: 10px;
  padding-right: 10px;
}

.work2-para {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  padding-left: 10px;
  padding-right: 10px;
}

.ph {
  margin-left: -30px;
}

.work2-list {
  margin-top: -15px;
  display: flex;
  gap: 15px;
}

.work2-list li {
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: #fff;
  padding: 10px 12px;
  list-style: none;
  background-color: gray;
}

.two {
  width: 100%;
  text-decoration: none;
  color: white;
  display: block;
  padding: 8px;
  background-color: rgb(255 107 0);
  text-align: center;
}

.about {
  background: #1c1a19;
  padding: 7rem 0;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-title {
  width: 327px;
  height: 79px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.about-para {
  width: 327px;
  height: 148px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
}

.btn2 {
  width: 161px;
  height: 48px;
}

.block1 {
  position: absolute;
  right: 0;
  top: 40.79%;
}

.about-line {
  position: relative;
  padding-bottom: 10rem;
  border-bottom: 1px solid rgb(255 255 255);
  overflow: hidden;
}

.lang {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  text-align: center;
  color: white;
  padding: 30% 15px;
}

.lang li {
  list-style: none;
}

.big {
  position: relative;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 30px;
}

.small {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  text-align: center;
}

.set {
  width: 18px;
  height: 18px;
}

.setting {
  display: flex;
  gap: 20px;
}

.contact {
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.cont {
  padding: 3.5rem 2rem;
}

.contact-text {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
  margin-bottom: 2.5rem;
}

.input {
  font-size: 1rem;
  padding: 0.8rem 1rem;
  border-radius: 3px;
  background-color: #fff;
  border: none;
  font-family: inherit;
  border-bottom: 2px solid #dbd8d7;
  width: 100%;
  color: inherit;
  display: block;
  margin-bottom: 10px;
}

.input:focus {
  outline: none;
  box-shadow: 0 1.5rem 2.5rem rgb(0 0 0 / 10%);
  border-bottom: 4px solid rgb(255 107 0);
}

.label {
  display: none;
}

.area {
  margin-top: 15px;
  width: 100%;
  border-radius: 3px;
  background-color: #fbf8f7;
  border: none;
  font-family: inherit;
  color: #3c3a39;
}

.submit {
  padding: 15px 12px;
  background-color: #ff6b00;
  text-align: center;
  border: none;
  margin: 15px 28%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.03em;
  box-shadow: 0 2.5rem 3.5rem rgb(27 27 27 / 10%);
  color: #fff;
  transition: all 0.3s;
}

input[type="submit"]:hover {
  color: rgb(245 88 0);
  background: rgb(255 245 225);
  border: 1px solid rgb(245 88 0);
}

input[type="submit"]:active {
  background-color: #e05304;
  color: rgb(244 241 240);
}

input[type="submit"]:disabled {
  background: #f4f1f0;
  color: #5b5957;
}

.last {
  background-color: #fff;
  padding: 50px 32%;
  padding-top: 40px;
  border-top: 3px solid #dfe1e6;
}

.forms {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.forms li {
  list-style: none;
}

.icon {
  display: flex;
  gap: 13px;
  margin-left: -50px;
}

.icon li {
  list-style: none;
  width: 30px;
}

.fa {
  color: #505f79;
}

.message {
  width: 100%;
  background-color: #fff;
  color: rgb(205 0 0);
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 15px;
  border: 1px solid rgb(205 0 0);
  border-radius: 4px;
  padding: 2%;
  display: none;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 4;
  display: none;
  background-color: rgb(26 34 54 / 75%);
}

.modal.active {
  display: block;
}

.modal-box {
  width: 65%;
  height: auto;
  background-color: #fff;
  padding: 20px;
  margin: 0;
  position: relative;
}

.m-img {
  width: 100%;
  height: 448px;
  background-size: cover;
}

.modal-btn-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-btn {
  background-color: #f55800;
  color: white;
  text-decoration: none;
  text-align: center;
  width: 134px;
  height: 48px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  margin: 5% 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.modal-btn:hover img,
.modal-btn:active img {
  color: #f55800;
}

.name {
  width: 1056px;
  height: 40px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  top: 0;
  left: 30px;
  color: #172b4d;
}

.name2,
.content2 {
  display: none;
}

.lg-lt {
  width: 50%;
  margin: 10px 0;
  padding: 8px 3px;
  display: flex;
  gap: 20px;
}

.lg-lt li {
  list-style: none;
  border: 1px solid black;
  padding: 8px 10px;
  font-size: 15px;
  line-height: 20px;
}

.fass {
  position: relative;
}

.close-btn {
  position: absolute;
  top: 0;
  right: 30px;
  background-color: white;
  border: none;
}

.flex {
  display: grid;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  body.modal-active {
    height: 220vh;
  }

  .lo {
    font-size: 20px;
    width: 90px;
    height: 30px;
    line-height: 10px;
  }

  .main {
    display: block;
    animation-name: left;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    font-size: 72px;
    line-height: 82px;
  }

  .sub {
    display: block;
    animation-name: right;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    font-size: 72px;
    line-height: 82px;
  }

  .fa-envelope {
    color: white;
    position: absolute;
    right: -50px;
  }

  .menu {
    top: 40px;
  }

  .fa-bars {
    display: none;
  }

  .let {
    display: flex;
    gap: 25px;
  }

  .let li {
    list-style: none;
  }

  .let a {
    text-decoration: none;
    color: white;
    font-size: 15px;
  }

  .section1 {
    gap: 10px;
    padding-left: 5px;
  }

  .head {
    font-size: 52px;
    line-height: 82px;
    margin-bottom: 5px;
  }

  .title {
    font-size: 32px;
    line-height: 44px;
  }

  .para p {
    width: 666px;
    height: 123px;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 20px;
  }

  .whole {
    display: flex;
    gap: 100px;
  }

  .icons {
    margin-left: 0;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
  }

  .fas {
    font-size: 20px;
  }

  .nxt {
    display: none;
  }

  .not {
    position: absolute;
    right: 0;
    top: 0;
    width: 30%;
  }

  .work {
    padding: 160px;
  }

  .work-head {
    border: none;
  }

  .group {
    display: flex;
    gap: 15px;
  }

  .imge-img {
    margin-top: 35px;
  }

  .imge-txt {
    font-size: 40px;
    line-height: 52px;
  }

  .work1-img {
    width: 684px;
    height: 448px;
    box-shadow: 0 1.5rem 4rem rgb(0 0 0 / 15%);
    transition: transform 0.3s;
  }

  .work1-img:hover {
    transform: translateY(-1.5rem) scale(1.03);
  }

  .work-head2 {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
  }

  .work1-para {
    width: 448px;
    height: 140px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
  }

  .work1-list li {
    padding: 10px 12px;
    font-size: 15px;
  }

  .work-menu {
    margin-bottom: 30px;
  }

  .p {
    margin-left: -40px;
  }

  .btn {
    padding: 12px;
    font-size: 17px;
    line-height: 24px;
    margin-top: 60px;
  }

  .gridy {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 15px;
  }

  .work-title2a {
    background-image: linear-gradient(180.45deg, rgb(38 38 38 / 0%) 0.75%, rgb(38 38 38 / 90%) 84.18%), url("img/Img\ \(1\).png");
  }

  .go {
    visibility: hidden;
  }

  .be {
    background-image: linear-gradient(179.35deg, rgb(38 38 38 / 0%) 0.85%, rgb(38 38 38 / 90%) 84%), url("img/Img\ \(2\).png");
  }

  .bee {
    background-image: linear-gradient(179.4deg, rgb(38 38 38 / 0%) 0.81%, rgb(38 38 38 / 90%) 84.03%), url("img/Img\ \(3\).png");
  }

  .be a,
  .bee a {
    display: none;
  }

  .bee h1 {
    margin-top: 20px;
  }

  .work-he {
    color: white;
    line-height: 44px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 32px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .work-head22 {
    visibility: hidden;
  }

  .work2-para {
    font-size: 17px;
    line-height: 24px;
  }

  .bet li {
    font-size: 15px;
    line-height: 20px;
  }

  .about {
    padding: 160px;
    padding-right: 0;
  }

  .about-title {
    font-size: 72px;
    line-height: 82px;
  }

  .about-para {
    width: 566px;
    height: 148px;
    font-size: 20px;
    line-height: 32px;
  }

  .btn2 {
    padding: 12px;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
  }

  .block1 {
    font-family: Arial, Helvetica, sans-serif;
    display: none;
  }

  .block2 {
    position: absolute;
    right: 0;
    top: 1.79%;
    width: 40%;
  }

  .lang {
    flex-direction: row;
    gap: 15%;
    align-items: initial;
    padding: 5% 0;
  }

  .big,
  .small {
    text-align: left;
  }

  .contact {
    padding: 60px 160px;
  }

  .cont {
    display: flex;
    flex-direction: row;
    gap: 4%;
  }

  .contact-text {
    width: 450px;
    height: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    text-align: left;
  }

  .input {
    width: 700px;
    height: 18px;
    left: 16px;
    right: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
  }

  .submit {
    margin: 15px 0;
  }

  .last {
    padding: 20px 45%;
  }

  .modal {
    width: 100%;
    background: rgb(26 34 54 / 75%);
    height: 100vh;
    position: fixed;
  }

  .modal-box {
    width: 77%;
    height: auto;
    background-color: #fff;
    padding: 20px;
    position: relative;
    margin: 10%;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
  }

  .modal-box .pjname {
    margin: 0;
  }

  .flex {
    grid-template-columns: repeat(2, 1fr);
  }

  .m-img {
    width: 659px;
  }

  .content {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    height: 376px;
    color: #344563;
  }

  .modal-btn-group {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .modal-btn:last-child {
    margin: 5%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .lo {
    font-size: 17px;
    width: 90px;
    height: 30px;
    line-height: 10px;
  }

  .main {
    display: block;
    font-size: 52px;
    line-height: 52px;
  }

  .sub {
    display: block;
    font-size: 32px;
    line-height: 52px;
  }

  .let {
    display: none;
  }

  .menu {
    right: 100px;
    top: 40px;
  }

  .fa-solid,
  .fas {
    font-weight: 900;
    margin-right: -40px;
    margin-bottom: 30px;
  }

  .section1 {
    gap: 5px;
  }

  .head {
    font-size: 35px;
    line-height: 44px;
    margin-bottom: 0;
  }

  .title {
    font-size: 20px;
    width: 300px;
  }

  .para p {
    width: 300px;
    line-height: 1rem;
    font-size: 18px;
    margin-bottom: 0;
  }

  .icons {
    margin-left: -30px;
    gap: 30px;
  }

  .not,
  .imge,
  .block2,
  .work-he,
  .name,
  .content {
    display: none;
  }

  .modal {
    width: 375px;
    height: 989px;
  }

  .modal-box {
    width: 343px;
    height: 718px;
    margin: 8% 3%;
  }

  .lg-lt {
    margin: 30px 0;
    margin-bottom: 10px;
    width: 100%;
  }

  .lg-lt li {
    padding: 5px;
    border: 1px solid #dfe1e6;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
  }

  .name2 {
    display: block;
    width: 259px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #172b4d;
  }

  .close-btn {
    top: -20px;
  }

  .grouping {
    display: flex;
    flex-direction: column;
  }

  .m-img {
    width: 311px;
    height: 220px;
  }

  .pj-info {
    left: 0;
    top: 110%;
  }

  .content2 {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 311px;
    color: #344563;
  }

  .modal-btn-group {
    flex-direction: row;
    gap: 12px;
    width: 311px;
  }

  .modal-btn {
    height: 48px;
    align-items: flex-start;
    padding: 12px;
    gap: 12px;
    font-size: 17px;
    line-height: 24px;
  }

  .modal-btn span {
    font-size: 17px;
  }
}
